<!-- views/template.ejs -->
<!DOCTYPE html>
<html>

   <link rel="stylesheet" type="text/css" href="style/styles.css">

<head>
   <title>PDF Template</title>
</head>

<body>
   <h1>Hellog <%=username%>!</h1>
   <div style="text-align: center;">
      <img src="<%= imageUrl %>" alt="Image">
   </div>
</body>

</html>